.logo {
  height: 271px;
}

.bg-v {
  position: fixed;
  top: 0;
  z-index: -1;
  right: 0;
  left: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 200ms ease-in-out;
}



h1,
h2,
h3,
* {
  font-family: 'Beaufort';
  margin-bottom: 10px;
  display: block;
  color: #fe9b00;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 200ms ease-in-out;
  text-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.section-3 {
  display: flex;
  justify-content: center;
}

.pref {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.image {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.plus-minus-list {
  display: flex;
  justify-content: space-evenly;
  align-content: stretch;
  flex-direction: row;
}

.section-4 .raid {
  width: 18%;
  display: inline-block;
  margin: 0 1%;
  vertical-align: top;
  float: left;
}


.section-4 .raid .pic {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  width: 219px;
  height: 278px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.section-4 .raid .pic h3 {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 30px 0;
  margin-bottom: 0;
  left: 0;
  line-height: 1;
  text-shadow: 0 0 10px black;
  background: linear-gradient(to top, rgba(0, 0, 0, 7), transparent);
}

.section-4 .raids .raid p {
  color: #aaaaaa;
  line-height: 1.3;
  text-shadow: 0 0 10px black;
  margin-top: 10px;
  font-size: 15px;
}

.container {
  width: 1240px;
  margin: 0 auto;
  position: relative;
}

.section-4 .raid {
  width: 18%;
  display: inline-block;
  margin: 0 1%;
  vertical-align: top;
  float: left;
}

.section-4 .raid {
  width: 18%;
  display: inline-block;
  margin: 0 1%;
  vertical-align: top;
  float: left;
}

section.othernew {

  height: 739px;
}

section.othernew .pref {
  display: inline-block;
  width: 31%;
  margin: 0 1%;
  float: left;
  margin-bottom: 50px;
  height: 100px;
  color: #fff;
  font-size: 18px;
  text-shadow: 0 0 10px black;
  font-family: 'Beaufort';
  text-transform: uppercase;
}

section.othernew .pref img {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(254, 155, 0, 0.5);
  float: left;
}

section.othernew .pref div {
  padding: 10px 20px;
  display: inline-block;
  float: left;
  width: calc(100% - 130px);
}


section.about {

  height: 608px;
  text-align: center;
}

section.about header {
  margin-bottom: 30px;
}

section.about .content {
  position: relative;
}

section.about .content:before,
section.about .content:after {
  content: '';
  position: absolute;
  width: 176px;
  height: 176px;
  /* background: url('../../images/promo/about-sep.png') center center no-repeat; */
  top: 100px;
  left: 26%;
  opacity: 0.15;
  pointer-events: none;
}

section.about .content:after {
  left: auto;
  right: 26%;
}

section.about .pref {
  width: 29%;
  margin: 0 2%;
  float: left;
  display: inline-block;
  height: 160px;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 40px;
  text-shadow: 0 0 10px black;
}
