<mat-grid-list cols="1" rowHeight="6:1">
  <mat-grid-tile>
    <img src="/assets/image/pngegg.png" alt="" srcset="" class="logo">
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="30px">
  <mat-grid-tile>
    <h2 style="color:white;">Welcome to the new age </h2>
  </mat-grid-tile>
  <mat-grid-tile>Destan Promising a new generation experience
  </mat-grid-tile>
  <mat-grid-tile>JOIN THE EPIC ADVENTURE
  </mat-grid-tile>
  <mat-grid-tile>ORIGINAL | EXCLUSIVE CONTENT
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="10:1">
  <mat-grid-tile>
    <a href="#" rel="noopener noreferrer" class="btn go-reg">Join Now !! </a>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="60px">
  <mat-grid-tile>
    <div class="row-1">
      <div>
        EVERYONE WHO REACH LV 50
      </div>
      <div>
        1000 DIAMONDS GIFT
      </div>
    </div>
    <div class="row-2">
      <img src="/assets/image/chest.png" alt="" srcset="">
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="row-3">
      <img src="/assets/image/box.png" alt="" srcset="">
    </div>
    <div class="row-4">
      <div>
        for new adventurers
      </div>
      <div>
        Starter gifts
      </div>
    </div>

  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="60px">
  <mat-grid-tile>
    <h2>POWERFUL SYSTEMS </h2>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="40px">
  <mat-grid-tile>
    <h2>We are constantly developing improvements to maximize your gaming experience on the Destan server.</h2>
  </mat-grid-tile>
</mat-grid-list>


<div class="section-3">
  <div class="anit-model-sys">
    <div class="image">
      <img src="/assets/image/anti.gif" alt="" srcset="">
    </div>

  </div>
  <div class="plus-minus">
    <div class="pref">
      <div class="row1-a">
        <div class="image">
          <img src="/assets/image/reaper-1.png" alt="" srcset="">
          <div class="title">
            DIAMONDS FARM
          </div>
        </div>
      </div>
      <div class="row1-a">
        <div class="image">
          <img src="/assets/image/reaper-2.png" alt="" srcset="">
          <div class="title">
            DIAMONDS FARM
          </div>
        </div>
      </div>
      <div class="row1-a">
        <div class="image">
          <img src="/assets/image/reaper-1.png" alt="" srcset="">
          <div class="title">
            DIAMONDS FARM
          </div>
        </div>
      </div>
      <div class="row1-a">
        <div class="image">
          <img src="/assets/image/reaper-2.png" alt="" srcset="">
          <div class="title">
            DIAMONDS FARM
          </div>
        </div>
      </div>
    </div>
    <div class="plus-minus-list ">
      <div class="plus">
        <h4>Additional positive aspects</h4>
        <ul>
          <li>7/24 Support</li>
          <li>Worldwide Moderator System</li>
          <li>Weekly Gifts</li>
          <li>Unique Events</li>
          <li>Play to Win</li>
        </ul>
      </div>
      <div class="plus">
        <h4></h4>
        <ul>
          <li>Fly/Model etc. Disabled</li>
          <li>Balanced Original Content</li>
          <li>Stable Low Ping &amp; High Performance</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="content section-4">
  <div class="raid">
    <a class="pic">
      <img src="/assets/image/ort1.jpg">
      <h3>Collect Rewards</h3>
    </a>
    <p>Defeat surrounding bosses and Dungeons and earn rewards</p>
  </div>
  <div class="raid">
    <a class="pic">
      <img src="/assets/image/ort2.jpg">
      <h3>Surprise <br> Mail</h3>
    </a>
    <p>Don't forget to check your mailbox every now and then, it might be full of gifts.</p>
  </div>
  <div class="raid">
    <a class="pic">
      <img src="/assets/image/ort3.jpg">
      <h3>Festival <br> Excitement</h3>
    </a>
    <p>Are you tired of running from adventure to adventure, join the festivities!</p>
  </div>
  <div class="raid">
    <a class="pic">
      <img src="/assets/image/ort4.jpg">
      <h3>Ranked <br> PvP</h3>
    </a>
    <p>Competition heats up with the renewed PvP system</p>
  </div>
  <div class="raid">
    <a class="pic">
      <img src="/assets/image/ort5.jpg">
      <h3>Epic <br> PvE</h3>
    </a>
    <p>Run to victory with your team in challenging dungeons</p>
  </div>
</div>


<section class="othernew">
  <div class="container">
    <header>
      <h2>Server Information</h2>
      <p>In-game information for the Destan server</p>
    </header>
    <div class="content clearfix">
      <div class="pref">
        <img src="/assets/image/other-4.png">
        <div>Destan Chapter: II Elven Prophecy</div>
      </div>
      <div class="pref">
        <img src="/assets/image/other-1.png">
        <div>Maximum character level</div>
      </div>
      <div class="pref">
        <img src="/assets/image/other-2.png">
        <div>More experience during your adventures</div>
      </div>
      <div class="pref">
        <img src="/assets/image/other-3.png">
        <div>Worldwide adventurers and localization</div>
      </div>
      <div class="pref">
        <img src="/assets/image/other-5.png">
        <div>Progress easily with starter gifts and Diamonds</div>
      </div>
      <div class="pref">
        <img src="/assets/image/other-6.png">
        <div>Comprehensive support system</div>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <header>
      <h2>About Us</h2>
    </header>
    <div class="content clearfix">
      <div class="pref">
        <img src="/assets/image/about-1.png">
        <p>We are an experienced staff in mobile games and software for years</p>
      </div>
      <div class="pref">
        <img src="/assets/image/about-2.png">
        <p>We have been adding joy and excitement to the game since 2021</p>
      </div>
      <div class="pref">
        <img src="/assets/image/about-3.png">
        <p>We always focus on the best in our projects, we continue to grow with the support of adventurers</p>
      </div>
      <div class="pref">
        <img src="/assets/image/about-4.png">
        <p>Taborea is promising with the exclusive contents we have developed</p>
      </div>
      <div class="pref">
        <img src="/assets/image/about-5.png">
        <p>It is important to us that adventurers enjoy the game and we always offer generous gifts</p>
      </div>
      <div class="pref">
        <img src="/assets/image/about-6.png">
        <p>Runes, Spells, Mushrooms everything is ready to start the adventure</p>
      </div>
    </div>
  </div>
</section>

<app-omar></app-omar>
<video autoplay muted loop id="myVideo" class="bg-v">
  <source src="/assets/bg/bg1.mp4" type="video/mp4">
</video>

<!-- <img src="/assets/image/bg.png" alt="" srcset="" class="bg-v"> -->