<mat-grid-list cols="1" rowHeight="6:1">
  <mat-grid-tile>
    <img src="/assets/image/pngegg.png" alt="" srcset="" class="logo">
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="40px">
  <mat-grid-tile>
    <h2 class="welc-title">Welcome to the new age </h2>
  </mat-grid-tile>
  <mat-grid-tile>
    <h2 class="welc-title"> <span style="color: #ffca76">The Lost Paradise</span> Promising a new generation experience</h2>

  </mat-grid-tile>
</mat-grid-list>

<app-omar></app-omar>
<mat-grid-list cols="1" rowHeight="150px">
  <mat-grid-tile>
    <a href="https://discord.gg/aeyR8vJDyP" rel="noopener noreferrer" class="btn go-reg">Join Discord  </a>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="90px">
  <mat-grid-tile>
    <a href="https://romoldschool.uk/gameFile/ROM_OLD_SCHOOL.rar" rel="noopener noreferrer" class="btn go-reg">Download Now </a>
  </mat-grid-tile>
</mat-grid-list>
<!-- <mat-grid-list cols="2" rowHeight="60px">
  <mat-grid-tile>
    <div class="row-1">
      <div>
        EVERYONE WHO REACH LV 50
      </div>
      <div>
        1000 DIAMONDS GIFT
      </div>
    </div>
    <div class="row-2">
      <img src="/assets/image/chest.png" alt="" srcset="">
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="row-3">
      
    </div>
    <div class="row-4">
      <div>
       
      </div>
      <div>
       
      </div>
    </div>

  </mat-grid-tile>
</mat-grid-list> -->

<section class="sec-2">
  <div class="row-1">
    <div class="sec-2-container-text">
      <h3>
        EVERYONE WHO REACH LV 55
      </h3>
      <h2>1000 DIAMONDS GIFT  </h2>
    </div>
    <div class="image-sec2">
      <img src="/assets/image/chest.png" alt="" srcset="">
    </div>
  </div>
  <div class="row-2">
    <div class="image-sec2">
      <img src="/assets/image/box.png" alt="" srcset="">
    </div>
    <div class="sec-2-container-text">
      <h3>
        for new adventurers
      </h3>
      <h2> Starter gifts</h2>
    </div>

  </div>
</section>

<mat-grid-list cols="1" rowHeight="90px">
  <mat-grid-tile>
    <h2 class="power-title">POWERFUL SYSTEMS </h2>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="40px">
  <mat-grid-tile>
    <h2 class="power-sub">We are constantly developing improvements to maximize your gaming experience on The Lost Paradise server.</h2>
  </mat-grid-tile>
</mat-grid-list>


<div class="section-3">
  <div class="anit-model-sys">
    <div class="image">
      <img src="/assets/image/anti.gif" alt="" srcset="">
    </div>
  </div>
  <div class="plus-minus">
    <div class="pref">
      <div class="row1-a">
        <div class="image">
          <img src="/assets/image/reaper-1.png" alt="" srcset="">
          <div class="title">
            DIAMONDS FARM
          </div>
        </div>
      </div>
      <div class="row1-a">
        <div class="image">
          <img src="/assets/image/reaper-2.png" alt="" srcset="">
          <div class="title">
            TRAVELLING MERCHANT
          </div>
        </div>
      </div>
      <div class="row1-a">
        <div class="image">
          <img src="/assets/image/reaper-1.png" alt="" srcset="">
          <div class="title">
            PVP CHAMPIONSHIP
          </div>
        </div>
      </div>
      <div class="row1-a">
        <div class="image">
          <img src="/assets/image/reaper-2.png" alt="" srcset="">
          <div class="title">
            EXCLUSIVE PHIRIUS WORKSHOPS

          </div>
        </div>
      </div>
    </div>
    <div class="plus-minus-list ">
      <div class="plus">
        <h2>Additional positive aspects</h2>
        <ul>
          <li>7/24 Support</li>
          <li>Worldwide Moderator System</li>
          <li>Weekly Gifts</li>
          <li>Unique Events</li>
          <li>Play to Win</li>
        </ul>
      </div>
      <div class="plus">
        <h4></h4>
        <ul>
          <li>Fly/Model etc. Disabled</li>
          <li>Balanced Original Content</li>
          <li>Stable Low Ping &amp; High Performance</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="content section-4">
  <div class="title">
    <h2>ADVENTURES ARE MORE ENJOYABLE NOW
    </h2>
    <span>Enjoy Taborea with renewed and constantly updated content
    </span>
  </div>
  <div class="raid">
    <a class="pic">
      <img src="/assets/image/ort1.jpg">
      <h3>Collect Rewards</h3>
    </a>
    <p>Defeat surrounding bosses and Dungeons and earn rewards</p>
  </div>
  <div class="raid">
    <a class="pic">
      <img src="/assets/image/ort2.jpg">
      <h3>Surprise <br> Mail</h3>
    </a>
    <p>Don't forget to check your mailbox every now and then, it might be full of gifts.</p>
  </div>
  <div class="raid">
    <a class="pic">
      <img src="/assets/image/ort3.jpg">
      <h3>Festival <br> Excitement</h3>
    </a>
    <p>Are you tired of running from adventure to adventure, join the festivities!</p>
  </div>
  <div class="raid">
    <a class="pic">
      <img src="/assets/image/ort4.jpg">
      <h3>Ranked <br> PvP</h3>
    </a>
    <p>Competition heats up with the renewed PvP system</p>
  </div>
  <div class="raid">
    <a class="pic">
      <img src="/assets/image/ort5.jpg">
      <h3>Epic <br> PvE</h3>
    </a>
    <p>Run to victory with your team in challenging dungeons</p>
  </div>
</div>


<section class="othernew">
  <div class="container">
    <header>
      <h2>Server Information</h2>
      <p>In-game information for The Lost Paradise server</p>
    </header>
    <div class="content clearfix">
      <div class="pref">
        <img src="/assets/image/other-4.jpg">
        <div>Destan Chapter: II Elven Prophecy</div>
      </div>
      <div class="pref">
        <img src="/assets/image/other-1.jpg">
        <div>Maximum character level</div>
      </div>
      <div class="pref">
        <img src="/assets/image/other-2.jpg">
        <div>More experience during your adventures</div>
      </div>
      <div class="pref">
        <img src="/assets/image/other-3.jpg">
        <div>Worldwide adventurers and localization</div>
      </div>
      <div class="pref">
        <img src="/assets/image/other-5.jpg">
        <div>Progress easily with starter gifts and Diamonds</div>
      </div>
      <div class="pref">
        <img src="/assets/image/other-6.jpg">
        <div>Comprehensive support system</div>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <header>
      <h2>About Us</h2>
    </header>
    <div class="content clearfix">
      <div class="pref">
        <img src="/assets/image/about-1.png">
        <p>We are an experienced staff in mobile games and software for years</p>
      </div>
      <div class="pref">
        <img src="/assets/image/about-2.png">
        <p>We have been adding joy and excitement to the game since 2021</p>
      </div>
      <div class="pref">
        <img src="/assets/image/about-3.png">
        <p>We always focus on the best in our projects, we continue to grow with the support of adventurers</p>
      </div>
      <div class="pref">
        <img src="/assets/image/about-4.png">
        <p>Taborea is promising with the exclusive contents we have developed</p>
      </div>
      <div class="pref">
        <img src="/assets/image/about-5.png">
        <p>It is important to us that adventurers enjoy the game and we always offer generous gifts</p>
      </div>
      <div class="pref">
        <img src="/assets/image/about-6.png">
        <p>Runes, Spells, Mushrooms everything is ready to start the adventure</p>
      </div>
    </div>
  </div>
</section>

<!-- 
<video autoplay muted loop id="myVideo" class="bg-v">
  <source src="/assets/bg/bg1.mp4" type="video/mp4">
</video> -->

<img src="/assets/image/bg.jpg" alt="" srcset="" class="bg-v">
