<div class="sign-up-form">
  <h2>
    JOIN NOW
  </h2>
  <h3>
    You can create your account here to start the epic adventure
  </h3>
</div>
<form [formGroup]="signupForm" (ngSubmit)="createAccount()" class="form" id="join">
  <div class="form-group">
    <input type="text" name="username" class="form-control" formControlName="Account_ID" placeholder="User Name">
    <!-- <span *ngIf="this.signupForm.controls['Account_ID'].getError('minlength')" style="color: red;">
      Username must be at least 5 characters long.
    </span>
    <span *ngIf="this.signupForm.controls['Account_ID'].getError('required')" style="color: red;">
      Username is required.
    </span> -->
    
    <input type="password" name="password" class="form-control" formControlName="Password" placeholder="Password">
  <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid" class="btn">Create Account</button>
  </div>
</form>

