form .form-group {
    display: flex;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}
input {
    height: 60px;
    color: #aaa;
    font-family: 'Roboto';
    border: none;
    padding: 0 10px;
    width: 50%;
    background: rgba(10,10,10,0.8);
    text-align: center;
    box-shadow: none;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 40px;
    outline: none;
}

.form-group  input {
    background-image: url('/assets/image/input-login.png');
    background-position: 10px 50%;
    background-repeat: no-repeat;
}
.sign-up-form {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .sign-up-form h2 {
    font-size: 5vh;
    font-family: 'Beaufort';
}